<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HELPx2!!!</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="timer.css">
    <script type="app.js"></script>
  </head>
  <body>
    <div id="question">WHAT SHOULD I EAT TODAY???</div>
                <div id="choiceContainer">
                  <button id="choice1">choice1</button>
                  <button id="choice2">choice2</button>
                </div>
                <div id="barContainer">
                  <ul class="graph">
                    <li class="barchart">20%</li>
                    <li class="barchart">75%</li>
                  </ul>
                </div>
    <div class="timer">
            <div class="mask"></div>
    </div>
    <form>
          Food Choice 1:<br>
          <input type="text" name="foodchoice1">
          <br>
          Food Choice 2:<br>
          <input type="text" name="foodchoice2">
    </form>
  </body>
</html>
