body {
  background-color: #F2F2F2;
}

#title-bar {

flex: none;
background-color: #F5ECCE;
border-color: white;
border-style: solid;
border-radius: 3px;

}

#title-bar h1 {
 color: orange;
 font-size: 28px;
 text-align: center;
}

.body_frame {
  justify-content: center;
  height: 450px;
  background-color: #F79F81;
  border-color: white;
  border-style: solid;
  border-radius: 5px;

}

.picture {
/*border-radius: 10%;*/
}



.dropDownContainer {
margin-top: 10px;
display: flex;
justify-content: space-around;
}

.caloriesContainer {
margin-top: 25px;
color: black;
display: flex;
justify-content: space-around;
}

.calories {

color: black;
border: 1px solid red;
width: 100px;
height: 25px;
background-color: white;
margin-top: 10px;
margin-bottom: 10px;

}


.results_frame {
  text-align: center;
  height: 200px;
  background-color: #F6E3CE;
  border-color: white;
  border-style: solid;
  border-radius: 3px;

}

#results {

  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  color: black;

}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}
.img-container img{
  margin-right: 85px;
  margin-left: 85px;
  border-radius: 50%;
}

.mytext {
  text-align: center;
  border: 1px solid pink;
  margin-top: 40px;
  height: 30px;

}

#mainDish {

  margin 50;

}
