body {
  background-color: #F2F2F2;
}

#title-bar {

flex: none;
background-color: #F5ECCE;
border-color: white;
border-style: solid;
border-radius: 3px;

}

#title-bar h1 {
 color: orange;
 font-size: 28px;
 text-align: center;
}

.body_frame {
  justify-content: center;
  height: 400px;
  background-color: #F79F81;
  border-color: white;
  border-style: solid;
  border-radius: 5px;

}

#chicken {
border-radius: 10%;
}

#coke {
border-radius: 10%;
}

#fries {
border-radius: 10%;
}


.results_frame {
  text-align: center;
  height: 200px;
  background-color: #F6E3CE;
  border-color: white;
  border-style: solid;
  border-radius: 3px;

}

#results {

  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  color: black;

}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
}

.mytext {
  text-align: center;
  border: 1px solid blue;
  margin-top: 40px;
  height: 30px;

}
