body {
  background-color: pink;
  max-width: 1200px;
  color: white;
  margin: auto;

}

span {
margin-left: 30px;
font-family: Helvetica;

}
#basalMetabolism {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid white;
  max-width: 200px;
  height: 30px;
  margin-left: 30px;
  font-family: Helvetica;

}

.title-container {
text-align: center;
height:70px;
background-color: #ff733d;
border-color: white;
border-style: solid;
border-radius: 3px;
text-shadow: 0 -1px 0px #b34525;

}

p {
font-family: Helvetica;
padding-bottom: 30px;
margin-left: 30px;
}


#navlist li {
  color: black;
  font-family: Helvetica;
  font-size: 25px;
  list-style-type: none;
  padding-right: 150px;
  display: inline;
}

.Mainbody {
  display: flex;
  justify-content: space-between;

}

.body_frame1 {

  justify-content: center;
  height: 650px;
  background-color: black;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  width: 700px;
  color: white;

}

.image {

  text-align: center;
}

.image img {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-top: 100px;
  margin-bottom: 20px;

}

.body_frame2 {
  justify-content: center;
  height: 650px;
  background-color: black;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  width: 700px;
}


.caloriesContainer {
display: flex;
margin-top: 25px;
color: black;
justify-content: space-around;
border-radius: 5px;

}

.dropDownContainer {
margin-top: 10px;
display: flex;
justify-content: space-around;
}


.calories {

color: black;
border: 1px solid red;
width: 100px;
height: 25px;
background-color: white;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 5px;

}


#results_container {
  text-align: center;
  display: block;
  height: 40px;
  width: 130px;
  background-color: #F6E3CE;
  border-color: black;
  border-style: solid;
  border-radius: 0.5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: black;

}


.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}

}

.mytext {
  text-align: center;
  border: 1px solid pink;
  margin-top: 40px;
  height: 30px;

}

p1 {
  margin-top: 80px;
  text-align: center;
  display: block;
  font-style: italic;
  font-size: 28px;


}
