body {
  background-color: #F2F2F2;
}

.title-container {

width: 100%;
height:70px;
background-color: #ff733d;
border-color: white;
border-style: solid;
border-radius: 3px;
text-shadow: 0 -1px 0px #b34525;

}

/*.title-container h1 {
 color: white;
 font-size: 28px;
 font-family: Helvetica;
 margin-left: 20px;
}*/

#navlist li {
  color: black;
  font-family: Helvetica;
  font-size: 25px;
  list-style-type: none;
  padding-right: 150px;
  display: inline;
}


.body_frame {
  justify-content: center;
  height: 450px;
  background-color: black;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
}

.caloriesContainer {
margin-top: 25px;
color: black;
display: flex;
justify-content: space-around;
border-radius: 5px;

}

.dropDownContainer {
margin-top: 10px;
display: flex;
justify-content: space-around;
}


.calories {

color: black;
border: 1px solid red;
width: 100px;
height: 25px;
background-color: white;
margin-top: 10px;
margin-bottom: 10px;
border-radius: 5px;

}


#results_container {
  text-align: center;
  display: block;
  height: 40px;
  width: 130px;
  background-color: #F6E3CE;
  border-color: black;
  border-style: solid;
  border-radius: 0.5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

}


.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}
.img-container img{
  margin-right: 85px;
  margin-left: 85px;
  border-radius: 50%;
}

.mytext {
  text-align: center;
  border: 1px solid pink;
  margin-top: 40px;
  height: 30px;

}

p1 {
  margin-top: 10px;
  text-align: center;
  display: block;
  font-style: italic;
  font-size: 28px;


}
